@import "global";

$moonSize: 124px;

.footer-top {
	$topSize: 15px;
	
	width: 100%;
	//height: $topSize;
	line-height: $topSize;
	//backgroundColor: '#283593'
	$darken_factor: 10;
	background: linear-gradient(90deg, darken($footerColor1, $darken_factor), darken($footerColor2, $darken_factor));
	font-weight: bold;
	font-size: 13px;
	color: #B39DDB;
	text-shadow: none;
	
	display: grid;
	grid-template-columns: 1fr fit-content(100%) 1fr;
	align-items: center;
	justify-content: space-between;
	grid-template-rows: auto;
	grid-template-areas: "separator players ip";
	
	.online-info {
		grid-area: players;
		display: inline-block;
		
		position: relative;
		& > * {
			vertical-align: top;
		}
		
		.online-list {
			position: absolute;
			left: 0;
			right: 0;
			top: $topSize - 1px;
			overflow: hidden;
			background-color: #3b2e8a80;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			//border: 1px solid #311B92;
			//border-top: none;
			box-sizing: border-box;
			box-shadow: 0px 3px 6px #0004;
			
			height: 0px;
			transition: height 0.5s cubic-bezier(.36,.07,.19,.97);
			
			.scroll-area {
				overflow: auto;
				width: 100%;
				max-height: 100%;//$topSize * 5;
				table {
					width: 100%;
					text-align: center;
					border-collapse: collapse;
					
					tr {
						&:nth-child(even) {
							background-color: #ffffff02;
						}
						& > td {
							height: $topSize;
							line-height: $topSize;
							text-align: center;
						}
					}
				}
			}
		}
	}
	
	.server-ip {
		grid-area: ip;
		text-align: right;
		padding: 0px 10px;
		font-weight: normal;
		white-space: nowrap;
	}
	
	.show-list-btn {
		background: url("../img/icons/more.svg") center no-repeat;
		&.close {
			background-image: url("../img/icons/close.svg");
		}
		background-size: contain;
		padding: 0px 10px;
		box-shadow: none;
		height: $topSize;
		width: $topSize;
		
		opacity: 0.5;
		transition: transform 0.4s cubic-bezier(.36,.07,.19,.97), opacity 0.4s linear;
		
		&:hover {
			box-shadow: none;
			transform: rotate(180deg);
			opacity: 1;
		}
	}
	
	@media (max-width: 700px) {
		grid-template-columns: auto;
		grid-template-rows: fit-content(100%) fit-content(100%);
		justify-content: center;
		grid-template-areas: "ip" "players";
		
		.server-ip {
			text-align: center;
		}
	}
}

.footer-content {
	//background-color: $footerColor;
	background: linear-gradient(60deg, $footerColor1, $footerColor2);
	
	display: grid;
	grid-template-columns: fit-content(100%) auto;
	grid-template-rows: auto fit-content(100%);
	grid-template-areas: "moon discord" "copyright discord";
	align-items: center;
	justify-content: space-between;
	
	color: #C5CAE9;
	
	@media (max-width: 700px) {
		grid-template-columns: auto;
		grid-template-rows: auto auto fit-content(100%);
		grid-template-areas: "moon" "discord" "copyright";
		justify-content: stretch;
		
		.discord-widget h3 {
			min-width: auto !important;
			width: 100%;
		}
		
		.copyright {
			background-color: #4527A0;
		}
	}
	
	.moon-widget {
		grid-area: moon;
	}
	
	.copyright {
		grid-area: copyright;
		font-size: 11px;
		padding: 4px 2px;
	}
	
	.discord-widget {
		grid-area: discord;
		align-self: start;
		
		text-align: left;
		
		display: inline-block;
		width: auto;
		height: 100%;
		min-height: 247px;
		
		box-shadow: 0px 0px 15px #0003;
		
		h3 {
			color: #fff;
			//background-color: #4527A080;
			background: linear-gradient(90deg, #4527A000 0%, #4527A080 100%);
			margin: 0px;
			padding: 0px;
			height: 30px;
			//line-height: 30px;
			
			min-width: 400px;
			max-width: 100%;
			
			display: flex;
			align-items: center;
			
			&::before {
				content: "";
				display: inline-block;
				height: 30px;
				width: 30px;
				background: url('../img/icons/discord_icon.png') center no-repeat;
				background-size: contain;
				transition: transform 1.2s 0.1s cubic-bezier(.87,-.41,.19,1.44);
			}
			
			&:hover::before {
				transform: rotate(360deg) scale(1.4);
			}
		}
		
		position: relative;
		
		& > .users-list {
			position: absolute;
			//top: 30px;
			max-height: calc(100% - 30px);
			width: 100%;
			overflow-y: auto;
			
			/* width */
			&::-webkit-scrollbar {
			    width: 4px;
			    height: 6px;
			}
			
			/* Track */
			&::-webkit-scrollbar-track {
			    background-color: #5C6BC0;
			}
			
			/* Handle */
			&::-webkit-scrollbar-thumb {
			    background-color: #283593;
			    border-radius: 4px;
			}
			
			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
			    background-color: #1A237E;
			}
			
			table {
				width: 100%;
				border-collapse: collapse;
				tr {
					&:nth-child(even) {
						background-color: #ffffff08;
					}
					
					td {
						padding: 3px 5px;
						
						img {
							max-height: 21px;
							max-width: 21px;
							border-radius: 21px;
						}
					}
				}
			}
			
			@media (max-width: 450px) {
				table tr td:nth-child(3) {
					display: none;
				}
			}
		}
	}
	
	.moon {
		height: $moonSize;
		width: $moonSize;
		margin: /*19px */38px;
		border-radius: 100%;
		box-shadow: inset -16px 0px 0 6px #7986CB, 12px 4px 6px #0004;
		cursor: pointer;
		transform: rotate(16deg);
		background-color: transparent;
		
		transition: box-shadow 0.5s ease-in-out;
		
		&::before {
			content: attr(data-text);
			display: block;
			color: $footerColor1;
			opacity: 0;
			font-size: 18px;
			font-weight: bold;
			transform: rotate(-32deg);
			transition: opacity 0.5s ease-in-out;
		}
		
		&:hover {
			box-shadow: inset 0px 0px 0 $moonSize #FFE0B2, 4px 4px 6px #0004;
			
			&::before {
				opacity: 1;
			}
		}
	}
	
	.author-info {
		padding: 3px 38px;
	}
}