.home {
	
	$anim: 0.3s ease-in-out;
	
	.links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		
		& > * {
			box-sizing: border-box;
			
			width: 200px;
			height: 70px;
			line-height: 70px;
			
			font-size: 22px;
			font-weight: bold;
			padding: 0px;
			margin: 20px;
			box-shadow: 0px 3px 5px #0004, inset 0px 0px 15px #4a7dda40;
			color: #fff;
			border: 1px solid #4a7dda20;
			border-radius: 3px;
			
			$blur: 40%;
			background: linear-gradient(161deg, #fff4 #{50% - $blur}, #fff1 #{50% + $blur});//180-19 deg
			
			overflow: hidden;
			position: relative;
			
			// wave popup anim
			transform: scale(0);
			animation: pop-in 0.7s cubic-bezier(.87,-.41,.19,1.44) forwards;
			
			@for $i from 1 through 8 {
				&:nth-child(#{$i}) {
					animation-delay: 0.1s * ($i - 1);
				}
			}
			////////////////////////
			
			&::before {//lighten background effect
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: #fff;
				opacity: 0;
				transition: opacity 0.5s ease-in-out;
			}
			
			&::after {//flash effect
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 170px;
				height: 182px * 2;//more that sqrt( height*height + width*width )
				background: linear-gradient(90deg, #fff0 0%, #fff4 50%, #fff0 100%);
				transform: translate(-60%, -60%) rotate(71deg);//90 - 19 deg
				
				transition: transform 0.66s ease-out;
			}
			
			&:hover {
				color: #fff;
				&::after {
					transform: translate(100%, 100%) rotate(71deg);
				}
				
				&::before {
					opacity: 0.2;
				}
				
				& > .top { transform: translateX(100%); }
				& > .left { transform: translateY(100%); }
				& > .bottom { transform: translateX(100%); }
				& > .right { transform: translateY(100%); }
				
				& > .left, & > .right, & > .top, & > .bottom {
					transition: transform 0.44s ease-out;
					background-color: #FFAB91;
				}
				& > .bottom, & > .right {
					transition-delay: 0.22s;
				}
			}
			
			$shineSize: 1px;
			
			& > .left, & > .right, & > .top, & > .bottom {
				position: absolute;
				background-color: #fff;
				transition: transform 0.44s ease-out;
			}
			
			& > .left, & > .right {
				width: $shineSize;
				height: 100%;
				transform: translateY(-100%);
			}
			
			& > .top, & > .bottom {
				width: 100%;
				height: $shineSize;
				transform: translateX(-100%);
			}
			
			& > .top {
				left: 0;
				top: 0;
				transition-delay: 0.22s;
			}
			& > .left {
				left: 0;
				top: 0;
				transition-delay: 0.22s;
			}
			
			& > .bottom {
				left: 0;
				bottom: 0;
				transition-delay: 0s;
			}
			& > .right {
				right: 0;
				top: 0;
				transition-delay: 0s;
			}
		}
	}
}