@import "animations";
@import "global";

.night-fader {
	position: fixed;
	pointer-events: none;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	width: 100vw;
	height: 100vh;
	background-color: #311B92;
	z-index: 99;
	
	animation: fade-out 1.5s ease-in forwards; //$fadeFunc;
}

.layout {
	display: grid;
	background-color: $footerColor1;
    grid-template-areas: "header" "content" "footer";
    grid-template-columns: 100%;
    grid-template-rows: min-content auto min-content;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 8px;
    perspective-origin: top;
	
	& > header {
		grid-area: header;
		
		height: $headerSize;
		
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto fit-content(100%);
		
		position: relative;
		transform-style: preserve-3d;
		
		& > .parallax-scrollfix {
			position: absolute;
			overflow: hidden;
			height: 430px;
			width: 100%;
		}
		
		& .background-parallax, & > .gradient-fixed {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100vw;
			height: $headerSize + $waveHeight;
		}
		
		& .background-parallax {
			background: url('../img/header.webp') repeat-y center;
			background-size: cover;
			
			transform: translateZ(-6px) scale(1.75);
            transform-origin: top;
		}
		
		& > .gradient-fixed {//3rd: FF8A65
			background: linear-gradient(#5E00D1E0 0%, #EC407AE0 #{$headerSize*0.6}, #FF8A65 $headerSize) fixed;
		}
	}
	
	& > .header-content {
		z-index: 1;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: $headerSize;
		
		//pointer-events: none;
		
		transform: translateZ(-6px) scale(1.75);
		transform-origin: top;
	}
	
	& > .sun-holder {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: $headerSize;
		transform-style: preserve-3d;
		
		transform: translateY(100%);
		animation: slide-from-bottom $fadeFunc;
		
		& > .sun-parallax {
			display: block;
			position: absolute;
			z-index: 4;
			left: 0px;
			right: 0px;
			//top: 0px;
			bottom: -$sunSize/2;
			margin: auto;
			
			transform: translateZ(-8px) scale(2.5);
			transform-origin: 50% -50%;
			
			width: $sunSize;
			height: $sunSize;
			
			& > .sun-halo {
				position: absolute;
				left: 0px;
				top: 0px;
				
				z-index: -1;
				
				//transform: scale(1.2);
				opacity: 0.15;
				
				width: $sunSize;
				height: $sunSize;
				border-radius: $sunSize;
				
				background: linear-gradient(#FFCCBC, #FFCC80);
				box-shadow: 0 0 1px #000;
				
				$pulseDuration: 2s;
				@for $i from 1 through 3 {
					&:nth-child(#{$i}) {
						$sc: 1 + 0.1*(4-$i);
						transform: scale($sc);
						
						animation: halo-pulse_#{$i} $pulseDuration ease-in-out infinite alternate;
						animation-delay: $pulseDuration / 3 * $i;
						
						@keyframes halo-pulse_#{$i} {
							0% {
								transform: scale($sc*0.99) translateX(1px * ($i % 2));
							}
							50% {
								transform: scale($sc) translateX(0px);
							}
							100% {
								transform: scale($sc*1.01) translateX(-1px * ($i % 2));
							}
						}
					}
				}
			}
			
			& > .sun {
				width: $sunSize;
				height: $sunSize;
				
				background: linear-gradient(#FFCCBC, #FFCC80); //#FFCCBC, #FFCC80
				border-radius: $sunSize;
				box-shadow: 0px 0px 40px 1px #FFCCBC;
				z-index: 2;
				
				& > .dark-sun{
					display: block;
					width: $sunSize;
					height: $sunSize;
					border-radius: $sunSize;
					background: linear-gradient(#FF8A65, #FF7043);
				}
			}
		}
		
		& > .sun-shine-bottom {
			display: block;
			position: absolute;
			z-index: 1;
			left: 0px;
			right: 0px;
			//top: 15px;
			bottom: -8px;
			margin: auto;
			width: $sunSize * 1.2;
			height: 0px;
			border-radius: 100%;
			background-color: #FFF0;
			box-shadow: 0px 0px 10px 8px #FFF2;
		}
	}
	
	& > .wave-container {
		width: 100vw;
		height: $sunSize;
		
		overflow: hidden;
		position: absolute;
		top: $headerSize;
		
		& > .wave {
			display: block;
			height: $waveHeight;
			
			background: url('../img/wave.svg') center repeat-x;
			background-size: auto 100%;
			
			position: absolute;
			left: 0px;
			top: 0px;
			z-index: 5;
			width: 200vw;
			
			animation: wave-movement 14s ease-in-out infinite alternate-reverse;
			
			&:first-child {
				animation-delay: -22s;
				opacity: 0.6;
			}
			
			@keyframes wave-movement {
				0% {
					transform: translateX(-50%);
				}
				100% {
					transform: translateX(0%);
				}
			}
		}
		
		& > .sun-reflection {
			display: block;
			position: absolute;
			z-index: 5;
			left: 0px;
			right: 0px;
			top: -$sunSize/2;
			
			height: $sunSize*1.25;
			margin: auto;
			
			transform: translateZ(2.5px) scale(0.85);
			transform-origin: 50% -275%;
			
			& > svg {
				position: absolute;
				left: 0px;
				right: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				
				opacity: 0;
				
				transform: translateY(-100%);
				animation: slide-from-top $fadeFunc, blinking 3s linear infinite alternate-reverse;
				
				@keyframes blinking {
					0% {
						opacity: 0;
					}
					100% {
						opacity: 1;
					}
				}
				
				&:first-child {
					animation-delay: -3s;
				}
			}
		}
	}
	
	& > main{
		grid-area: content;
		
		background: linear-gradient(#fff0 $waveHeight, #faab82 $waveHeight, #5C6BC0 300px, #3F51B5 100%);
		//background: linear-gradient(#faab8200 $waveHeight, #faab82 $waveHeight, #6cb9c0 300px, #6cb9c0 100%);
		   //$footerColor 100%);
		z-index: 4;
		
		padding-top: $sunSize;
		
		& > .page {
			//overflow: hidden;
			min-height: 300px;
			
		}
	}
	
	& > footer {
		z-index: 5;
		grid-area: footer;
	}
}